<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Book</h1>
        <p>ID: [[${book.id}]]</p>
        <p>Title: [[${book.title}]]</p>
        
        <form th:action="@{/books/addCart}" method="post" th:object="${cart}">
            <input th:field="*{bookId}" hidden>
            <input th:field="*{quantity}">
            <input type="submit" value="Add To Cart">
        </form>
    </body>
</html>
