<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cart</h1>
        <ul>
            <li th:each="line: ${cartBooks}">
                <a th:href="@{/books/{id}(id=${line.book.id})}" th:text="${line.book.title}"></a>
            </li>
        </ul>
    </body>
</html>
